@import url(https://fonts.googleapis.com/css2?family=Poppins);
* {
  font-family: poppins;
}
body {

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f8fd;
}
body .form-login{
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 16px;
}
body .form-login h3{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
body .form-login input{
  margin-bottom: 10px;
  width: 400px;
  height: 40px;
  padding-left: 20px;
  background-color: #e5e9f2;
  border: none;
  border-radius: 50px;
  font-weight: 600;
}
body .form-login p{
  text-align: right;
  margin-top: -8px;
  margin-bottom: 35px;
}
body .form-login p .link-lupa-password{
  text-decoration: none;
  color: #999aa4;
  font-size: 16px;
  font-weight: 400;
}
body .form-login p .link-lupa-password:hover{
  text-decoration: none;
  color: blue;
  font-size: 16px;
  font-weight: 400;
}
body .form-login .btn-login{
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 50px;
  background-color: #2447f9;
  color: #fff;
  font-weight: 700px;
  cursor: pointer;
}
body .form-login a .btn-regis{
  margin-top: 20px;
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 50px;
  background-color: #e5e9f2;
  color: #000;
  font-weight: 700px;
  cursor: pointer;
}

body .form-login hr{
  background-color: #e5e9f2;
  height: 1px;
  border: none;
}
body .form-login a .btn-google{
  margin-top: 20px;
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 50px;
  background-color: #3436A4;
  color: #fff;
  font-weight: 700px;
  cursor: pointer;
}
body .form-login a .btn-google img{
  height: 25px;
  vertical-align: -7px;
  margin-right: 5px;
}

